article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

@import 'partial';
@font-face {
  font-family: 'Nexa';
  src: url('./../fonts/NexaBlack.otf');
  src: url('./../fonts/NexaRegular.otf');
  src: url('./../fonts/NexaThin.otf');
}

$color-blue: rgb(12, 39, 64);
$color-blue2: rgb(24, 67, 107);
$color-beige: rgb(237, 236, 235);

html {
  background: $color-beige !important;
  font-family: "NexaRegular";
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0 auto;
  padding: 0;
 box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 95vw;

  background-color: $color-beige !important;
}
* {
 //margin: 10px;
font-weight: 400;
outline: none !important;

}

//import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
#MainInterface {
    background-color: $color-beige !important;
    -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none;
}
#app2{
  background-color: $color-beige !important;
  h1 {
    background: $color-beige;
  }
}
.notes {
  margin-top: 500px;
}


.link {
  font-weight: 100;
  font-size: 14px;
  padding: 10px 20px;
 font-family: "NexaThin";
  width: 150px;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  margin-top: 20px;
  text-decoration: none;
  background: rgb(168, 164, 162);
  border-radius: 3px;
    letter-spacing: 0px;
  color: black;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  &:hover {
  background: rgb(94, 94, 94);
  letter-spacing: 2px;
  color: white;
  }
}
// .active {
//   font-family: "NexaRegular";
//   font-weight: 900;
// }


.weather {
  width: 100%;
  height: 80vh;
  margin: 0;
  padding: 0;
  text-align: center;
  outline: none;

  h1 {

  }
  .inputW {
    width: 400px;
    height: 25px;
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
  }
  button.submit {
    width: 420px;
    height: 40px;
    color: rgb(37, 119, 171);
    margin-top: 20px;
      background: rgb(227, 227, 227) !important;
    background-color: rgb(227, 227, 227) !important;
    border: 1px solid rgb(37, 119, 171);
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
      letter-spacing: 0px;
    &:hover {
          background-color: rgb(250, 250, 250) !important;
        letter-spacing: 3px;
    }
  }
}
.form-row {
  position: relative;
  display: inline;
}
.search {
  position: relative;
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  text-align: center;
  padding-left: 10px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
}
.but {
  width: 150px;
  height: 40px;
    padding : 10px;
  margin-left: 20px;
  background: black;
  border: none;
  border-radius: 5px;
  color: white;
}
p {
  color: #777;
}
.navbar{
  margin-top: 0;

  z-index: 10;
  width: 98%;
  height: 60px;
  background: rgb(47, 47, 47);
 li {
   float: left;
   color: white;
   list-style: none;
 }
 .lien {
   color: white;
   font-weight: 100;
   font-size: 14px;
   padding: 10px 15px;
  font-family: "NexaRegular";
   width: 130px;
   display: inline-block;
   text-align: center;
   margin-top: 15px;
   text-decoration: none;
   border-radius: 3px;
     letter-spacing: 0px;
   transition: all 0.35s ease-in-out;
   -webkit-transition: all 0.35s ease-in-out;
 }
 .lien:first-child {
   margin-left: -20px;
   font-family: "NexaBlack";
   color: rgb(1, 136, 203);
 }
 .droite {
   color: #c7c7c7;
   font-weight: 100;
   font-size: 12px;
   padding: 10px 20px;
   font-variant: normal;
  font-family: "NexaBlack";
   width: 150px;
   display: inline-block;
   text-align: center;
   margin-right: 10px;
   margin-top: 15px;
   text-decoration: none;
   float: right;
   border-radius: 3px;
     letter-spacing: 0px;

   transition: all 0.35s ease-in-out;
   -webkit-transition: all 0.35s ease-in-out;
   span a {
      margin-left: 10px;
      display: inline-block;
      text-decoration: none;
      color: rgb(1, 136, 203);
   }
 }
}


  h1.countdown{
  color: #777;
  letter-spacing: 0px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  &:hover {
    color: #323131;
    cursor: pointer;
    letter-spacing:  2px;
  }
}



.component {
  height: 80vh;
  width: 95%;
  text-align: center;
}
button.submit {

  width: 300px;
  height: 40px;
  color: rgb(139, 139, 139);
    line-height: 36px;
  margin-top: 20px;
    background: rgb(227, 227, 227) !important;
  background-color: rgb(227, 227, 227) !important;
  border: 1px solid rgb(37, 119, 171);
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
    letter-spacing: 0px;
  &:hover {
        background-color: rgb(250, 250, 250) !important;
      letter-spacing: 3px;
  }
}


.clock {
  border-radius: 50%;
  background-color: rgba(75, 144, 208, 1);
  border: 3px solid rgb(55, 111, 176);
  display: flex;
  height: 19rem;
  justify-content: center;
  margin: 4rem auto;
  width: 19rem;
 transition: all 0.35s ease-in-out;
 -webkit-transition: all 0.35s ease-in-out;
  .clock-text {
   color: white;
   font-size: 2.25rem;
   font-weight: 100;
   text-align: center;
   font-family: "NexaThin";
   line-height: 19rem;
  }
}





.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}
.millieu{

  width: 650px;
  margin: 0 auto;
}


label.todo {
 display:  block;
 padding: 16px 8px 16px 18px;
   background-color:rgba(255, 255, 255, 0.04);
   width: 630px;
 letter-spacing: 0px;
 transition: all 0.35s ease-in-out;
 -webkit-transition: all 0.35s ease-in-out;
   font-family: "NexaThin";
 text-align:left;
 &:hover{
    letter-spacing: 0.5px;
    background-color:rgba(255, 255, 255, 0.24);
 }
 p {
   display: inline;
   margin: 0;
   margin-left: 10px;
   font-family: "NexaBlack";
    color: rgb(13, 95, 147);
  max-width: 350px;
 }
 span {
       color: rgb(134, 134, 134);
 }
 .date {
      display: inline;
   margin-left: 5px;
   margin-right: 10px;
   margin-top: 7px;
   letter-spacing: 0px;
   float: right;
   transition: none;
    font-family: "NexaThin";

   text-align: right;
 }
}
 .todo::after {

 margin-bottom: 10px;

}

.todo input {

  margin-right: 10px;
}
button.submit2 {

    width: 650px;
  height: 70px;
  color: white;
    line-height: 66px;
  margin-top: 0px;
   background-color: rgb(13, 95, 147) !important;

  transition: all 0.35s ease-in-out;
      box-shadow: 0px 0px  0px rgba(37, 119, 171,0.5);
  -webkit-transition: all 0.35s ease-in-out;
    letter-spacing: 0px;
  &:hover {
      box-shadow: 0px 0px  40px rgba(158, 167, 172, 0.5);
        background-color: rgb(37, 119, 171) !important;
      letter-spacing: 1px;
  }
}
.search2 {
  position: relative;
  border: none;
  border-radius: 5px;
  width: 650px;
  margin-top: 10px;
  border: 1px solid rgba(176, 176, 176,0.3);
  margin-bottom: 10px;
  height: 40px;
  text-align: center;
  //padding-left: 10px;
    box-shadow: 0px 0px  0px rgba(158, 167, 172, 0.5);
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  &:hover {
      box-shadow: 0px 0px  40px rgba(158, 167, 172, 0.5);
    //border: 1px solid rgba(89, 89, 89, 0.9);
  }
}



input[type="checkbox"] {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.apptodo {
    margin: 0px auto 40px auto;
    background-color: rgb(226, 226, 226) !important;
    padding: 20px;
    padding-bottom: 30px;
    border-top: 35px solid rgb(79, 79, 79);

    width: 810px;
    border-radius: 0 0 10px 10px;
      box-shadow: 0px 14px 50px rgba(17, 17, 17, 0.02);
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;

    &:hover {
      margin-top: 40px;
    border-top: 35px solid rgb(13, 95, 147);
     box-shadow: -10px 40px 150px rgba(17, 17, 17, 0.62);
     button.submit2 {
       background-color: rgb(13, 95, 147) !important;
     }
    }
    button.submit2 {
      background-color: rgb(79, 79, 79) !important;
      border-radius: 10px;
    }
    h2 {
      margin-top: 10px;
    }
}
.oldStuff {

  position: relative;
  left: 0;
  font-family: "NexaRegular";
  font-size: 14px;
  //letter-spacing: 2px;
  font-weight: 700;
  color: rgb(13, 95, 147);
 top: -11px;

}
hr {
  border-bottom: 1px solid white;
  opacity: 0.5;
}

.vide {
  font-weight: 700;
  color: rgb(37, 37, 37);
  font-size: 110%;
}
.complet {
  opacity: 0.5;
color: grey !important;
text-decoration: line-through;
}
.center {
  text-align: center;
  color: rgb(13, 95, 147);
  font-family: "NexaThin"
}
.section li {
list-style: none;
padding: 3px;
    font-size: 18px;
}
.section {
  background: white;
  padding: 10px 20px 0px 40px;
  h2 {
      font-family: "NexaRegular";
      color: rgb(13, 95, 147);
  }
  code {
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 18px;
  }
}


.subRedux {
 display: block;
    width: 450px !important;
  height: 70px;
  color: white;
    line-height: 68px;
  margin-top: 0px;
   background-color: rgb(13, 95, 147) !important;
  text-align: center;
  transition: all 0.35s ease-in-out;
      box-shadow: 0px 0px  0px rgba(37, 119, 171,0.5);
  -webkit-transition: all 0.35s ease-in-out;
    letter-spacing: 0px;
    text-decoration: none;
  &:hover {
      box-shadow: 0px 0px  40px rgba(158, 167, 172, 0.5);
        background-color: rgb(37, 119, 171) !important;
      letter-spacing: 1px;
  }
}
.titre {
  opacity: 0;
}
